<!-- <h1 appExample
    appEmitter> Directives</h1> -->

<!-- <h1 appExample
    appHandler
    (appEmitter)="handleNewEventInComponent($event)"> Directives</h1> -->

<!-- <h1 appExample
    appHandler
    appEmitter> Directives</h1> -->
<!-- 
<h1 *hasRole="'admin'; else notAdmin">Only for Admin</h1>

<ng-template #notAdmin>
    Ups you don't have admin role
</ng-template> -->

<!-- <router-outlet></router-outlet>

<button mat-button
        confirmDialog
        (confirmed)="onConfirmed($event.returnValue)">Open dialog </button> -->


<!-- <div [bgCarousel]
     style="background-color: navy; width: 50px; height: 50px;">test</div> -->
<!-- <div style="background-color: red; width: 50px; height: 50px;"
     moveable>test</div> -->

<button data-test-id="directive"
        [deleteProduct]="1">
    Delete
</button>

<input blockPaste
       type="text">


<h1>urlDirective</h1>
<input [formControl]="formCtrl"
       type="url"
       urlDirectivew />
<div data-test-id="first-error">
    <span *ngIf="formCtrl.getError('mustStartWithHttpOrHttps'); else isValid">invalid</span>
</div>
<div data-test-id="second-error">
    <span *ngIf="formCtrl.getError('mustEndWithDotDomain'); else isValid">invalid</span>
</div>
<ng-template #isValid>valid</ng-template>


<h1>telDirective</h1>
<input [formControl]="formCtrlTel"
       type="tel"
       appTelValidator />

<h1>urlDirective 2</h1>
<form [formGroup]="form"
      (ngSubmit)="onFormSubmitted()">
    <input type="text"
           appMyRequired
           placeholder="Name"
           formControlName="formCtrl"
           UrlDirectiveVal>

    <button type="submit"
            [disabled]="!form.valid"
            color="primary">Submit</button>
</form>